body {
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 2rem;
}

.card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.05);
}

.card-body {
    padding: 2.5rem;
}

.form-control, .input-group-text {
    border-radius: 8px;
}

.input-group-text {
    background-color: #f8f9fa;
    border-right: none;
}

.form-control {
    border-left: none;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-weight: bold;
    padding: 0.6rem 1rem;
    border-radius: 8px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.text-primary {
    color: #007bff !important;
}

.form-check-input:checked {
    background-color: #007bff;
    border-color: #007bff;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
} 